* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #BBFF00;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #121718;
}

#logo {
    width: 55px;
}

header ul {
    display: flex;
    gap: 20px;
}

.heroArea {
    padding: 100px 10px 100px 10px;
   
    width: 100%;
}

#aboutMe {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: #f5f5f5;
    width: 100%;
}

.projectsMenu {
    text-align: left;
    line-height: 25px;
    background-color: #121718;
}

.projectsMenu h2 {
    color:#BBFF00;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.projectsMenu a {
    text-decoration: none;
}

.projectsMenu li {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.workSection {
    color: #121718;
    background-color: #BBFF00;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.workSection a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

hr {
    border: solid 0.5px;
    color:black;
}

.workSection h2 {
    padding-bottom: 10px;
    font-weight: 700;
}

.workSection hr {
    margin: 25px auto;
    width: 100%;
}

.workSection h3 {
    margin: 10px auto;
}

.education {
    background-color: #121718;
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.education h2 {
    padding-bottom: 20px;
    color:#BBFF00;
}

.education li {
    list-style: inside;
    font-size: 0.9em;
}

.education ul {
    padding-bottom: 20px;
}

.firstLi {
    padding: 10px 0px 10px 0;
    font-weight: bold;
}

#reviewsTeachers {
    
    display: flex;
    flex-wrap: wrap;
   
    padding: 10px 20px 20px 20px;
    width: 100%;
    justify-content: center;
    gap: 5%;
}

#reviewsTeachers h2 {
    width: 100%;
    padding: 50px 20px 50px 20px;
    text-align: center;
}

.reviewCard {

    background-color:#121718;
    width: 25%;
    padding: 20px;
    border: solid 3px;
    border-radius: 10px;
    text-align: center;
}

.reviewText {
    
    font-weight:lighter;
    padding-bottom: 10px;
    max-width: 100%;
    color: white;
}

.nameProfession {
    font-weight: lighter;
    color:#BBFF00
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color:#121718;
    color: white;
    font-weight:300;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .heroArea {
        border: none;
    }

    #aboutMe {
        display: grid;
        grid-template-columns: 100%;
        background-color: #f5f5f5;
        width: 100%;
        text-align: center;
        border: none;
    }

    .projectsMenu {
        text-align: center;
        border: none;
    }

    .education {
        text-align: center;
        border: none;

    }

    #reviewsTeachers {
        display: grid;
        grid-template-columns: 100%;
        padding: 30px;
        gap: 30px;
        background-color: #f5f5f5;
        width: 100%;
        text-align: center;
        border: none;
    }

    .reviewCard {
        width: 100%;
        padding: 20px;
        border: solid 3px;
        border-radius: 10px;
        text-align: center;
    }

    .reviewText {
        font-style: italic;
        padding-bottom: 10px;
        max-width: 100%;
        text-align: center;
    }

    #logo {
        padding-bottom: 20px;
    }
}